[Unit]
Description=Selected e-paper application
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/epaper_projects
ExecStart=/usr/bin/python3 %h/epaper_projects/run_selected.py
Restart=on-failure
RestartSec=20
TimeoutStopSec=5

[Install]
WantedBy=default.target
